<nav id="navbar">
  <a href="">Quero Mudar</a>
  <ul id="menu">
    <li><a href="">Home</a></li>
    <li><a href="#quem-somos">Quem Somos</a></li>
  </ul>
</nav>

<div class="btn-signup">
  <button class="btn--signup">Cadastrar</button>
  <p class="description-signup">Laboris minim veniam proident sunt eiusmod id ut irure magna aute aliqua cillum fugiat. Sint consectetur sit non ipsum. Anim fugiat velit pariatur cillum ut. Enim sit aliqua mollit dolor. Officia ad quis quis dolor duis esse. Ea ex consequat aliqua in incididunt reprehenderit.</p>
</div>

<div class="content">
  <h3 id="quem-somos">Quem Somos</h3>

  <p>
    Minim sunt amet ut et. Est ad labore eiusmod reprehenderit ut. Voluptate culpa aute tempor sit amet dolore irure ea ullamco qui eiusmod dolore. Anim nulla velit amet ea. Dolor velit consectetur occaecat nostrud ut eu eiusmod fugiat incididunt.
  </p>
</div>
