/* NAVBAR */
#navbar {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

#navbar a{
  color: #48d0f1;
  text-decoration: none;
}

#menu {
  list-style: none;
}

#menu li {
  display: inline-block;
  padding: 10px 15px 0 10px;
}

#menu li a {
  transition: all 0.5s ease 0s;
}

#menu li a:hover {
  color: #2c7e92;
  text-decoration: none;
}

/* BODY */
#quem-somos {
  display: flex;
  justify-content: center;
}

#quem-somos {
  color: #48d0f1;
}

.content {
  padding: 20px 0;
  background: #000;
}

.content p {
  color: white;
  width: 80%;
  margin: 0 auto;
}

.btn-signup {
  background-image: image-url('fundohome.jpg');
  background-repeat: no-repeat;
  color: #48d0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn--signup {
  background: none;
  color: #48d0f1;
  border: 1px solid #48d0f1;
}

.description-signup {
  width: 80%;
  margin: 20px auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn-signup {
    background-size: 200%;
    height: 500px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .btn-signup {
    background-size: 100%;
    height: 700px;
  }
}
